# Environment files
.env
.env.*
!.env.example

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/

# OS-specific files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Jupyter Notebook experiments
notebooks/

.langgraph.json

# Streamlit cache
.streamlit/

# Logs
*.log

# Pytest cache
.pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/
